.mar-10 {
   margin-left: 120px;
   padding-top: 20px;
   padding-bottom: 20px;
}

.margin-10 {
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.color {
    color: black;
    font-weight: 700;
}

.color:hover {
    color: rgb(199, 191, 191);
}